@media screen and (max-width: 900px) {
    .cdf {
        height: 100vh;
        position: relative;
        margin-bottom: 200px;
    }

    .cdf .card-content {
        position: relative;
        left: -30px;
        width: 85vw;
        text-align: justify;
    }
}